# Android Studio & IntelliJ project files
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# macOS & Windows
.DS_Store
Thumbs.db

# Build folders
/build
/app/build
.cxx
.externalNativeBuild

# Captures folder for screenshots
/captures

# Signing and environment-specific properties
local.properties
*.keystore

# Crashlytics and Firebase files
fabric.properties
crashlytics.properties

# Log files
*.log
